<%- include('./partials/head.ejs') %>

<body>
<section id="services" class="services section-bg">
    <div class="container">

      <div class="section-title">
        <span>Things to do</span>
        <h2>Things to do</h2>
        <hr>
        <% console.log(tasks);%>
        <% var count = 0 %>
        <% for(i=0;i < tasks.length ; i++) { %>
            <% if(tasks[i].status == 'pending'){%>
                <% ++count %>
            <% } %>    
        <% } %>
        <p>Tasks pending today: <%= count %></p>
      </div>

      <div class="row">
   
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" style="margin-bottom: 1vw;">
                <a href="/task/make_task"> <div class="icon-box" style="height: 325px;width: 325px;">
                <div class="icon">  <i class="bx bx-plus"></i></div>
                <h4> Add new task</h4>
                <p>A new task appears on the right side of this box</p>
                </div></a>  
            </div>
            
            <% for(i=0;i < tasks.length ; i++) { %>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" style="margin-bottom: 1vw;">
                <div class="icon-box" style="height: 325px;width: 325px;">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4><a href="#"><%= tasks[i].task_name %></a></h4>
                    <h6><%= tasks[i].description %> </h6>
                    <p> Status:&nbsp;<em> <%= tasks[i].status %></em> </p> <hr>
                    <%if(tasks[i].status == 'pending'){%>
                    <a href="/task/update_task?id=<%= tasks[i].id %>" style="color: rgba(19, 117, 30, 0.687);"><i class="bx bx-check"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                    <% } %>
                    <a href="/task/delete_task?id=<%= tasks[i].id %>" style="color: grey;"><i class="bx bx-trash"></i></a>
                </div>
            </div> 
            <% } %>
      </div>

    </div>
</section>
</body>
</hmtl>